@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary-1: #fc724d;
  --color-primary-2: #f95c30;

  --color-text: #252b42;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
.container {
  max-width: 104rem;
  padding: 0rem 1.5rem;
}
